Repository smallstep/cli, pull requests merged in 2020-07, with the labels that each got.

#313 Trim trailing newlines from verification code using "--console"
  command/oauth/cmd.go
Labels: bug fix

#314 Don't reuse san and principal flags to avoid confusing usage.
  command/ca/ca.go
  command/ca/certificate.go
  command/ca/token.go
  command/ssh/ssh.go
Labels: bug fix

#315 Fix flag interpretation and usage in `otp verify`
  command/crypto/otp/verify.go
Labels: bug fix

#318 Remove standard Extensions from ExtraExtensions before CreateCert
  crypto/x509util/profile.go
  crypto/x509util/profile_test.go
Labels: bug fix

#250 adds set flag to allow arbitrary JWT headers for crypto jwt sign command
  command/certificate/fingerprint.go
  command/certificate/fingerprint_test.go
  command/crypto/jwt/sign.go
  crypto/x509util/crt.go
  crypto/x509util/crt_test.go
  integration/integration_test.go
Labels: enhancement

#326 Add docker build for arm64
  make/docker.mk
Labels: area/CICD
