Repository smallstep/cli, pull requests merged in 2020-06, with the labels that each got.

#296 add support for TLS Server Name Indication
  command/certificate/fingerprint.go
  command/certificate/inspect.go
  command/certificate/lint.go
  command/certificate/remote.go
  command/certificate/remote_test.go
  command/certificate/verify.go
Labels: area/cli, enhancement

#298 Output information about restarting the CA after provisioner add|remove
  command/ca/provisioner/add.go
  command/ca/provisioner/remove.go
Labels: area/cli

#300 Allow to use stdin in step crypto key format.
  command/crypto/key/format.go
Labels: enhancement

#299 Add -format pem option to step certificate inspect
  command/certificate/inspect.go
  command/certificate/inspect_test.go
Labels: area/cli
